config*
autom4te.cache/**
build/**
php/**
modules/**
*sublime*
Makefile
Makefile.*
configure*
libtool
*.la
*.lo
*.dep
*arginfo.h
.libs/**
run-tests.php
/nbproject/*
/nbproject/private/
/tests/pcan_models/**
/tests/_data/schema.*
/tests/_models/**
rdebug.sh
dump.*
/.vscode/**
